@use '../../scss/utils' as *;

.post {
	position: relative;
	margin-inline: auto;
	margin-bottom: 4rem;
	max-width: 600px;
	z-index: 1;

	&:is(:not(:nth-child(2n))) {
		@include medium {
			margin-left: 0;
		}
	}

	&:nth-child(2n) {
		@include medium {
			margin-right: 0;
		}
	}

	&:last-of-type {
		margin-bottom: 8rem;
	}
}

.title {
	margin-bottom: 2rem;
	padding-top: 1rem;
	font-weight: 700;
	text-align: center;
}

.screen {
	position: relative;
	padding: 2rem;
	background-color: $bgColor;
	border-radius: 16px;
}

.text {
	color: rgba($color: #000, $alpha: 0.65) !important;
	text-align: justify;
}

.deco-container {
	position: absolute;
	top: 100%;
	left: 48%;
	width: clamp(55px, 10%, 66px);
	aspect-ratio: 1/1;
	transform: rotate(45deg) translateX(-50%);
	z-index: 3;
}

.base {
	position: absolute;
	left: 50%;
	width: clamp(150px, 50%, 185.85px);
	aspect-ratio: 185.85/60.14;
	transform: translateX(-50%);
	z-index: 2;
}
