@use '../../scss/utils' as *;

.ending {
  position: absolute;
	width: 100px;
	aspect-ratio: 1/1;
	background-color: $bgColor;
  z-index: 1;

	@include medium {
		width: 150px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor;
		border-radius: var(--radius);
	}
}