$mainColor: #54aedf;
$accentColor: #ce84ad;
$gradientColor: #ee40a1;
$titleColor: #000000;
$textAccent: #1f75a3;
$textColor: #000000a6;
$bgColor: #f5f5f5;
$greenAccent: #84cea8;

// 84cea8;
// #35bab0